body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

.login-body {
  background: linear-gradient(#1e3c72,#2a5298);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-body {
  background: url("../images/background1.jpg") center/cover;
  min-height: 100vh;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 6px;
}

.hidden {
  display: none;
}

canvas {
  border: 1px solid #ccc;
}
